.welcomeMessageContainer {
    text-align: right;
    max-width: 40rem;
}

.actionsContainer {
    border-radius: 2rem;
    background-color: #b3ddfa;
    height: 10rem;
    max-width: 40rem !important;
    padding: 0px !important;
    overflow: hidden;
    position: relative;
}

.iconCenterContainer {
    position: absolute;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 999;
    pointer-events: none;
}

.iconCenter {
    pointer-events: none;
    padding: 0px !important;
    display: grid;
    place-items: center;
    background-color: rgb(187, 219, 248);
    height: 2rem !important;
    width: 2rem !important;
    border-radius: 50%;
}