.main-container {
  max-width: 100% !important;
  height: calc(100vh - 4rem);
  background-color: #c7e3f7;
  padding: 3rem;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.nopadding {
  padding: 0px !important;
}

.noborder {
  border-radius: 0px !important;
}

.center {
  display: grid;
  place-items: center;
}

.text-large {
  font-size: 30px;
}